USE [master]
GO
/****** Object:  Database [TransportesSoft_BackOffice_Web]    Script Date: 29/05/2026 12:34:57 a. m. ******/
CREATE DATABASE [TransportesSoft_BackOffice_Web]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TransportesSoft_BackOffice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TransportesSoft_BackOffice_Web.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TransportesSoft_BackOffice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TransportesSoft_BackOffice_Web_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TransportesSoft_BackOffice_Web].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TransportesSoft_BackOffice_Web]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfSucursalLocal]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfSucursalLocal](
	[id_Sucursal] [int] IDENTITY(1,1) NOT NULL,
	[NombreSucursal] [varchar](255) NULL,
	[Direccion] [varchar](255) NULL,
	[Telefono] [varchar](20) NULL,
	[URLImagen] [varchar](100) NULL,
	[KilometrajeNotificaciones] [int] NULL,
	[RutaReportes] [varchar](150) NOT NULL,
	[EmpresaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContClientesCat]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContClientesCat](
	[id_Client] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Direccion] [varchar](255) NULL,
	[Telefono] [varchar](20) NULL,
	[Estatus] [char](1) NOT NULL,
	[EmpresaId] [int] NULL,
 CONSTRAINT [PK_ContClientes_1] PRIMARY KEY CLUSTERED 
(
	[id_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContConsumoUnidades]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContConsumoUnidades](
	[id_Unidad] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[ConsumoLitros] [int] NOT NULL,
	[Comentarios] [nvarchar](50) NULL,
	[ConsumoPesos] [money] NOT NULL,
	[EmpresaId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContKilometrajeUnidad]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContKilometrajeUnidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_Unidad] [int] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[KilometrajeActual] [int] NOT NULL,
	[EmpresaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContMantenimientosCab]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContMantenimientosCab](
	[IdMantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[FechaMantenimiento] [date] NOT NULL,
	[Kilometraje] [int] NOT NULL,
	[Proveedor] [varchar](20) NOT NULL,
	[CostoTotal] [money] NOT NULL,
	[id_Unidad] [int] NOT NULL,
	[id_Remolque] [int] NOT NULL,
	[EmpresaId] [int] NULL,
 CONSTRAINT [PK_ContMantenimientosCab] PRIMARY KEY CLUSTERED 
(
	[IdMantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContMantenimientosDet]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContMantenimientosDet](
	[IdMantenimiento] [int] NOT NULL,
	[Refaccion] [varchar](50) NOT NULL,
	[Proveedor] [varchar](20) NOT NULL,
	[PrecioRefaccion] [money] NOT NULL,
	[Comentarios] [varchar](50) NOT NULL,
	[Renglon] [int] NOT NULL,
	[EmpresaId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContOperadoresCat]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContOperadoresCat](
	[id_Operador] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[FechaIngreso] [date] NULL,
	[FechaEgreso] [date] NULL,
	[Estatus] [char](1) NOT NULL,
	[EmpresaId] [int] NULL,
 CONSTRAINT [PK_ContOperadores] PRIMARY KEY CLUSTERED 
(
	[id_Operador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContPolizasReg]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContPolizasReg](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FolioPoliza] [nvarchar](20) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[FechaExpira] [date] NOT NULL,
	[idTipoPoliza] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[EmpresaId] [int] NULL,
 CONSTRAINT [PK_ContPolizasReg] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_ContPolizasReg_FolioPoliza] UNIQUE NONCLUSTERED 
(
	[FolioPoliza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContPreciosDiesel]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContPreciosDiesel](
	[IdDiesel] [int] IDENTITY(1,1) NOT NULL,
	[Precio] [money] NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[FechaExpiro] [date] NOT NULL,
	[EmpresaId] [int] NULL,
 CONSTRAINT [PK_ContPreciosDiesel] PRIMARY KEY CLUSTERED 
(
	[IdDiesel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContRemolquesCat]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContRemolquesCat](
	[id_Remolque] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](20) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Serie] [nvarchar](20) NOT NULL,
	[Year] [int] NOT NULL,
	[Placas] [nvarchar](6) NOT NULL,
	[Fecha_Llantas] [date] NULL,
	[Fecha_Fisico_SCT] [date] NULL,
	[Impermeabilizacion] [date] NULL,
	[EmpresaId] [int] NULL,
 CONSTRAINT [PK_ContRemolques] PRIMARY KEY CLUSTERED 
(
	[id_Remolque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContTiposPolizas]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContTiposPolizas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TipoPoliza] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ContTiposPolizas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContUnidadesCat]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContUnidadesCat](
	[id_Unidad] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [nvarchar](15) NOT NULL,
	[Serie] [nvarchar](20) NOT NULL,
	[FechaActualizacion] [datetime] NOT NULL,
	[id_Operador] [int] NOT NULL,
	[Estatus] [char](1) NOT NULL,
	[id_Remolque] [int] NOT NULL,
	[EmpresaId] [int] NULL,
 CONSTRAINT [PK_ContUnidades] PRIMARY KEY CLUSTERED 
(
	[id_Unidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContViajes]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContViajes](
	[id_Viaje] [int] IDENTITY(1,1) NOT NULL,
	[id_Client] [int] NOT NULL,
	[NombreCliente] [nvarchar](25) NOT NULL,
	[FechaViaje] [date] NOT NULL,
	[FechaFactura] [date] NOT NULL,
	[Factura] [nvarchar](25) NOT NULL,
	[NumeroTransporte] [nvarchar](15) NOT NULL,
	[Origen] [varchar](20) NOT NULL,
	[Destino] [varchar](20) NOT NULL,
	[Monto] [money] NOT NULL,
	[IVA] [money] NOT NULL,
	[Retenciones] [money] NOT NULL,
	[Total] [money] NOT NULL,
	[Comentarios] [nvarchar](50) NOT NULL,
	[Maniobra] [money] NOT NULL,
	[id_Operador] [int] NOT NULL,
	[id_Unidad] [int] NOT NULL,
	[id_Remolque] [int] NOT NULL,
	[EmpresaId] [int] NULL,
 CONSTRAINT [PK_ContViajes] PRIMARY KEY CLUSTERED 
(
	[id_Viaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpresasCat]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresasCat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreComercial] [nvarchar](100) NOT NULL,
	[RazonSocial] [nvarchar](150) NOT NULL,
	[RFC] [nvarchar](13) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[ClaveAcceso] [nvarchar](255) NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosCat]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosCat](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Clave] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lClientes]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lClientes](
	[id_Client] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[Telefono] [nvarchar](max) NOT NULL,
	[Estatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_lClientes] PRIMARY KEY CLUSTERED 
(
	[id_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MunicipiosCat]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MunicipiosCat](
	[IdMunicipio] [int] IDENTITY(1,1) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[ClaveInegi] [varchar](10) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesCat]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesCat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRoles]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRoles](
	[UsuarioId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosCat]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosCat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[ContrasenaHash] [nvarchar](255) NULL,
	[FechaRegistro] [datetime] NULL,
	[Activo] [bit] NULL,
	[EmpresaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConfSucursalLocal] ADD  DEFAULT ('') FOR [RutaReportes]
GO
ALTER TABLE [dbo].[ContClientesCat] ADD  DEFAULT ('A') FOR [Estatus]
GO
ALTER TABLE [dbo].[ContMantenimientosCab] ADD  DEFAULT ((0)) FOR [id_Unidad]
GO
ALTER TABLE [dbo].[ContMantenimientosCab] ADD  DEFAULT ((0)) FOR [id_Remolque]
GO
ALTER TABLE [dbo].[ContMantenimientosDet] ADD  DEFAULT ((1)) FOR [Renglon]
GO
ALTER TABLE [dbo].[ContOperadoresCat] ADD  CONSTRAINT [DF_ContOperadores_Estatus]  DEFAULT ('A') FOR [Estatus]
GO
ALTER TABLE [dbo].[ContUnidadesCat] ADD  DEFAULT ('A') FOR [Estatus]
GO
ALTER TABLE [dbo].[ContUnidadesCat] ADD  CONSTRAINT [DF_ContUnidades_id_Remolque]  DEFAULT ((0)) FOR [id_Remolque]
GO
ALTER TABLE [dbo].[ContViajes] ADD  DEFAULT ((0)) FOR [id_Unidad]
GO
ALTER TABLE [dbo].[ContViajes] ADD  DEFAULT ((0)) FOR [id_Remolque]
GO
ALTER TABLE [dbo].[EmpresasCat] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[EmpresasCat] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MunicipiosCat] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[UsuariosCat] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[UsuariosCat] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ConfSucursalLocal]  WITH CHECK ADD  CONSTRAINT [FK_ConfSucursalLocal_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[ConfSucursalLocal] CHECK CONSTRAINT [FK_ConfSucursalLocal_EmpresasCat]
GO
ALTER TABLE [dbo].[ContClientesCat]  WITH CHECK ADD  CONSTRAINT [FK_ContClientesCat_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[ContClientesCat] CHECK CONSTRAINT [FK_ContClientesCat_EmpresasCat]
GO
ALTER TABLE [dbo].[ContConsumoUnidades]  WITH CHECK ADD  CONSTRAINT [FK_ContConsumoUnidad_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[ContConsumoUnidades] CHECK CONSTRAINT [FK_ContConsumoUnidad_EmpresasCat]
GO
ALTER TABLE [dbo].[ContKilometrajeUnidad]  WITH CHECK ADD  CONSTRAINT [FK_ContKilometrajeUnidad_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[ContKilometrajeUnidad] CHECK CONSTRAINT [FK_ContKilometrajeUnidad_EmpresasCat]
GO
ALTER TABLE [dbo].[ContMantenimientosCab]  WITH CHECK ADD  CONSTRAINT [FK_ContMantenimientosCab_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[ContMantenimientosCab] CHECK CONSTRAINT [FK_ContMantenimientosCab_EmpresasCat]
GO
ALTER TABLE [dbo].[ContMantenimientosDet]  WITH CHECK ADD  CONSTRAINT [FK_ContMantenimientosDet_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[ContMantenimientosDet] CHECK CONSTRAINT [FK_ContMantenimientosDet_EmpresasCat]
GO
ALTER TABLE [dbo].[ContOperadoresCat]  WITH CHECK ADD  CONSTRAINT [FK_ContOperadoresCat_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[ContOperadoresCat] CHECK CONSTRAINT [FK_ContOperadoresCat_EmpresasCat]
GO
ALTER TABLE [dbo].[ContPolizasReg]  WITH CHECK ADD  CONSTRAINT [FK_ContPolizasReg_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[ContPolizasReg] CHECK CONSTRAINT [FK_ContPolizasReg_EmpresasCat]
GO
ALTER TABLE [dbo].[ContPreciosDiesel]  WITH CHECK ADD  CONSTRAINT [FK_ContPreciosDiesel_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[ContPreciosDiesel] CHECK CONSTRAINT [FK_ContPreciosDiesel_EmpresasCat]
GO
ALTER TABLE [dbo].[ContRemolquesCat]  WITH CHECK ADD  CONSTRAINT [FK_ContRemolquesCat_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[ContRemolquesCat] CHECK CONSTRAINT [FK_ContRemolquesCat_EmpresasCat]
GO
ALTER TABLE [dbo].[ContUnidadesCat]  WITH CHECK ADD  CONSTRAINT [FK_ContUnidadesCat_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[ContUnidadesCat] CHECK CONSTRAINT [FK_ContUnidadesCat_EmpresasCat]
GO
ALTER TABLE [dbo].[ContViajes]  WITH CHECK ADD  CONSTRAINT [FK_ContViajes_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[ContViajes] CHECK CONSTRAINT [FK_ContViajes_EmpresasCat]
GO
ALTER TABLE [dbo].[MunicipiosCat]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosCat] ([IdEstado])
GO
ALTER TABLE [dbo].[UsuarioRoles]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [dbo].[RolesCat] ([Id])
GO
ALTER TABLE [dbo].[UsuarioRoles]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[UsuariosCat] ([Id])
GO
ALTER TABLE [dbo].[UsuariosCat]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosCat_EmpresasCat] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[EmpresasCat] ([Id])
GO
ALTER TABLE [dbo].[UsuariosCat] CHECK CONSTRAINT [FK_UsuariosCat_EmpresasCat]
GO
/****** Object:  StoredProcedure [dbo].[sp_C_ObtenerGastosUnidades]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_C_ObtenerGastosUnidades]
(
@FechaIni as datetime,
@FechaFin as datetime,
@IdUnidad int = 0
)
AS
BEGIN
SET NOCOUNT ON;


declare @unidad INT = @IdUnidad
/*Si operador es 0 trae la consulta en general*/
IF @IdUnidad = 0
    BEGIN
        SELECT 
            MCab.id_Unidad,
            MCab.FechaMantenimiento As Fecha,
            'Mantenimiento' As TipoGasto,
            MDet.Refaccion As Descripcion,
            Mdet.PrecioRefaccion As Monto
        FROM ContMantenimientosCab MCab

        INNER JOIN ContMantenimientosDet MDet 
        ON Mcab.IdMantenimiento = MDet.IdMantenimiento

        WHERE MCab.FechaMantenimiento >= @FechaIni
          AND MCab.FechaMantenimiento <  @FechaFin
          AND MCab.id_Unidad <> 0 

          UNION ALL

        SELECT 
            ConsUni.id_Unidad,
            ConsUni.Fecha As Fecha,
            'Gasolina' As TipoGasto,
            'Consumo de Combustible' As Descripcion,
            ConsUni.ConsumoPesos AS Monto
        FROM ContConsumoUnidades ConsUni

        WHERE ConsUni.Fecha >= @FechaIni
        AND ConsUni.Fecha < @FechaFin
        AND ConsUni.id_Unidad <> 0

        END
Else
    BEGIN
       SELECT 
            MCab.id_Unidad,
            MCab.FechaMantenimiento As Fecha,
            'Mantenimiento' As TipoGasto,
            MDet.Refaccion As Descripcion,
            Mdet.PrecioRefaccion As Monto
        FROM ContMantenimientosCab MCab

        INNER JOIN ContMantenimientosDet MDet 
        ON Mcab.IdMantenimiento = MDet.IdMantenimiento

        WHERE MCab.FechaMantenimiento >= @FechaIni
          AND MCab.FechaMantenimiento <  @FechaFin
          AND MCab.id_Unidad <> 0 
          AND MCab.id_Unidad = @unidad

          UNION ALL

        SELECT 
            ConsUni.id_Unidad,
            ConsUni.Fecha As Fecha,
            'Gasolina' As TipoGasto,
            'Consumo de Combustible' As Descripcion,
            ConsUni.ConsumoPesos AS Monto
        FROM ContConsumoUnidades ConsUni

        WHERE ConsUni.Fecha >= @FechaIni
        AND ConsUni.Fecha < @FechaFin
        AND ConsUni.id_Unidad = @unidad
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_C_ObtenerIngresosUnidades]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_C_ObtenerIngresosUnidades]
(
@FechaIni as datetime,
@FechaFin as datetime,
@IdUnidad int = 0
)
AS
BEGIN
SET NOCOUNT ON;


declare @unidad INT = @IdUnidad
/*Si operador es 0 trae la consulta en general*/
IF @IdUnidad = 0
    BEGIN
        SELECT 
            Viajes.id_Unidad,
            viajes.FechaViaje,
            Viajes.id_Operador,
            Viajes.id_Viaje,
            Viajes.id_Client,
            Viajes.Factura,
            viajes.Monto,
            viajes.IVA,
            viajes.Retenciones,
            viajes.Maniobra,
            viajes.Total
        FROM ContViajes Viajes
        WHERE Viajes.FechaViaje >= @FechaIni
          AND Viajes.FechaViaje <  @FechaFin;
        END
Else
    BEGIN
        SELECT 
            Viajes.id_Unidad,
            viajes.FechaViaje,
            Viajes.id_Operador,
            Viajes.id_Viaje,
            Viajes.id_Client,
            Viajes.Factura,
            viajes.Monto,
            viajes.IVA,
            viajes.Retenciones,
            viajes.Maniobra,
            viajes.Total
        FROM ContViajes Viajes
        WHERE viajes.id_Unidad = @unidad
        AND Viajes.FechaViaje >= @FechaIni
          AND Viajes.FechaViaje <  @FechaFin;
END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerProximosMantenimientos]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerProximosMantenimientos]
AS
BEGIN
    SELECT 
        cat.Id_Unidad,

        -- Último mantenimiento
        ISNULL(ultMant.IdMantenimiento, 0) AS UltimoIdMantenimiento,
        ISNULL(ultMant.Kilometraje, 0) AS KMMantenimiento,
        ISNULL(ultMant.FechaMantenimiento, '1900-01-01') AS FechaMantenimiento,
        ISNULL(ultMant.CostoTotal,0) as CostoTotal,

        -- Último kilometraje
        ISNULL(ultKm.Id, 0) AS UltimoIdKilometraje,
        ISNULL(ultKm.KilometrajeActual, 0) AS KilometrajeActual,
        ISNULL(ultKm.FechaRegistro, '1900-01-01') AS FechaKilometraje,
        ISNULL(ultMant.Kilometraje + 20000 - ultKm.KilometrajeActual,0) as ProximoMantenimiento
    FROM ContUnidadesCat cat

    -- Subconsulta para último mantenimiento
    LEFT JOIN (
        SELECT 
            Id_Unidad,
            IdMantenimiento,
            Kilometraje,
            FechaMantenimiento,
            CostoTotal
        FROM ContMantenimientosCab mc1
        WHERE IdMantenimiento = (
            SELECT MAX(IdMantenimiento)
            FROM ContMantenimientosCab mc2
            WHERE mc2.Id_Unidad = mc1.Id_Unidad
        )
    ) ultMant ON ultMant.Id_Unidad = cat.Id_Unidad

    -- Subconsulta para último kilometraje
    LEFT JOIN (
        SELECT 
            Id_Unidad,
            Id,
            KilometrajeActual,
            FechaRegistro
        FROM ContKilometrajeUnidad km1
        WHERE Id = (
            SELECT MAX(Id)
            FROM ContKilometrajeUnidad km2
            WHERE km2.Id_Unidad = km1.Id_Unidad
        )
    ) ultKm ON ultKm.Id_Unidad = cat.Id_Unidad

    WHERE Estatus = 'A'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerProximosMantenimientosKilometraje]    Script Date: 29/05/2026 12:34:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerProximosMantenimientosKilometraje](
@Kilometraje int 
)
AS
BEGIN

--Declare @Kilometraje INT = 10000;

    SELECT 
        cat.Id_Unidad,

        -- Último mantenimiento
        ISNULL(ultMant.IdMantenimiento, 0) AS UltimoIdMantenimiento,
        ISNULL(ultMant.Kilometraje, 0) AS KMMantenimiento,
        ISNULL(ultMant.FechaMantenimiento, '1900-01-01') AS FechaMantenimiento,
        ISNULL(ultMant.CostoTotal,0) as CostoTotal,

        -- Último kilometraje
        ISNULL(ultKm.Id, 0) AS UltimoIdKilometraje,
        ISNULL(ultKm.KilometrajeActual, 0) AS KilometrajeActual,
        ISNULL(ultKm.FechaRegistro, '1900-01-01') AS FechaKilometraje,
        ISNULL(ultMant.Kilometraje + 20000 - ultKm.KilometrajeActual,0) as ProximoMantenimiento
    FROM ContUnidadesCat cat

    -- Subconsulta para último mantenimiento
    LEFT JOIN (
        SELECT 
            Id_Unidad,
            IdMantenimiento,
            Kilometraje,
            FechaMantenimiento,
            CostoTotal
        FROM ContMantenimientosCab mc1
        WHERE IdMantenimiento = (
            SELECT MAX(IdMantenimiento)
            FROM ContMantenimientosCab mc2
            WHERE mc2.Id_Unidad = mc1.Id_Unidad
        )
    ) ultMant ON ultMant.Id_Unidad = cat.Id_Unidad

    -- Subconsulta para último kilometraje
    LEFT JOIN (
        SELECT 
            Id_Unidad,
            Id,
            KilometrajeActual,
            FechaRegistro
        FROM ContKilometrajeUnidad km1
        WHERE Id = (
            SELECT MAX(Id)
            FROM ContKilometrajeUnidad km2
            WHERE km2.Id_Unidad = km1.Id_Unidad
        )
    ) ultKm ON ultKm.Id_Unidad = cat.Id_Unidad
    WHERE  ISNULL(ultMant.Kilometraje + 20000 - ultKm.KilometrajeActual, 0) <= @Kilometraje 
    AND Estatus = 'A';
END
GO
USE [master]
GO
